build
dist
out
config
artifacts
notes-*
.tmp
*.egg-info
.ruff_cache
.pytest_cache
.coverage
__pycache__
.direnv
.mypy_cache
.envrc
notebooks
venv
.idea
.DS_Store
.github/output
.github/env
requirements.txt
actions-runner/
stuff/
foo.*

# can be ignored globally, we do want the tasks
!.vscode/
.qodo
