name: Publish Release

on:
  workflow_dispatch:
    inputs:
      prerelease:
        description: Push to github releases?
        required: false
        default: true
        type: boolean
  workflow_call:
    inputs:
      prerelease:
        description: Push the image to the registry
        required: false
        default: true
        type: boolean

jobs:
  installer:
    name: Pyinstaller
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
        - windows
        - ubuntu
        - macos
    steps:

    - name: Get Tag Name
      id: set_tag
      shell: bash
      env:
        OS: ${{ matrix.os }}
      run: |
        GIT_TAG=${GITHUB_REF#refs/*/}
        NAME="duploctl-${GIT_TAG}-${OS}"
        echo "GIT_TAG=${GIT_TAG}" >> $GITHUB_OUTPUT
        echo "NAME=${NAME}" >> $GITHUB_OUTPUT

    - name: Checkout Code
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: pip
    
    - name: Install Dependencies
      run: pip install .[build]
    
    - name: Pyinstaller
      id: installer
      run: pyinstaller installer.spec

    - name: View Files
      run: ls dist/duplocloud

    - uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.set_tag.outputs.NAME }}
        path: dist/duplocloud

  releaser: 
    name: Release
    runs-on: ubuntu-latest
    needs: installer
    outputs:
      name: ${{ steps.set_tag.outputs.NAME }}
    steps:

    - name: Dist Dir
      id: dist_dir
      run: mkdir -p dist artifacts

    - name: Get Tag Name
      id: set_tag
      run: |
        GIT_TAG=${GITHUB_REF#refs/*/}
        VERSION=$(echo $GIT_TAG | cut -d'v' -f2)
        NAME="duploctl-${GIT_TAG}"
        echo "GIT_TAG=${GIT_TAG}" >> $GITHUB_OUTPUT
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "NAME=${NAME}" >> $GITHUB_OUTPUT
    
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: ${{ steps.set_tag.outputs.NAME }}-*
        path: artifacts
        merge-multiple: false

    - name: Prep Release
      shell: bash
      run: |
        for d in artifacts/*; do
          name=$(basename $d)
          dest="dist/${name}.tar.gz"
          tar -czvf "$dest" -C $d .
          echo "Dir: $d"
          ls $d
        done
        ls dist

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          dist/*
        body: |
          duploctl ${{ steps.set_tag.outputs.GIT_TAG }} is out!. 

          PyPi: 
          [duplocloud-client](https://pypi.org/project/duplocloud-client/${{ steps.set_tag.outputs.VERSION }}/)
          ```sh
          pip install duplocloud-client==${{ steps.set_tag.outputs.VERSION }}
          ```

          Dockerhub:  
          [duplocloud/duploctl:${{ steps.set_tag.outputs.GIT_TAG }}](https://hub.docker.com/r/duplocloud/duploctl)
          ```sh
          docker pull duplocloud/duploctl:${{ steps.set_tag.outputs.GIT_TAG }}
          ```

        prerelease: ${{ github.event.inputs.prerelease }}
