name: Publish Version

on:
  push:
    tags:
    - '*'

jobs:

  package:
    name: Publish
    uses: ./.github/workflows/package.yml
    secrets: inherit

  image:
    name: Publish
    uses: ./.github/workflows/image.yml
    secrets: inherit
  
  slack:
    name: Slack notify
    uses: ./.github/workflows/slack-notify.yml
    secrets: inherit
    needs: [package, image]
