name: Pull Request

on:
  pull_request:
    branches:
    - main
permissions:
  issues: write
  pull-requests: write
  security-events: write
jobs: 

  prerequisites:
    name: Prerequisites
    runs-on: ubuntu-latest
    steps:
    - name: Auto Assign 
      uses: kentaro-m/auto-assign-action@v2.0.0
      with:
        configuration-path: .github/assign.yml
    - name: Make sure Changleog is updated
      uses: tarides/changelog-check-action@v3
      with:
        changelog: CHANGELOG.md

  quality:
    name: Test
    uses: ./.github/workflows/quality.yml
    secrets: inherit
    with:
      push: false
      codescan: false

  unit_test:
    name: Test
    uses: ./.github/workflows/test_unit.yml
    secrets: inherit

  docs_check:
    name: Documentation Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: "true"

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ".[docs]"

    - name: Validate MkDocs configuration
      run: mkdocs build --verbose --quiet --clean

    - name: Check for broken links
      run: |
        pip install --upgrade markdown-link-check
        find wiki -name "*.md" -exec markdown-link-check {} \; || true
