name: Notifications

on:
  workflow_call:

jobs:
  slack:
    runs-on: ubuntu-latest
    steps:

    - name: Get Tag Name
      id: set_tag
      run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Post to a Slack channel
      id: slack
      uses: slackapi/slack-github-action@v1.25.0
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        REPO_URL: ${{ github.server_url }}/${{ github.repository }}
      with:
        channel-id: ${{ vars.SLACK_CHANNEL_ID }}
        slack-message: |
          duploctl ${GIT_TAG} is out! Check it out at ${REPO_URL}.
