name: Unit Tests

on:
  workflow_dispatch: {}
  workflow_call: 
    secrets:
      GH_APP_KEY:
        description: GitHub App private key
        required: true
  pull_request:
    branches:
      - main

jobs:
  unit_test:
    name: Unit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:

    - name: Setup
      uses: duplocloud/duploctl/.github/actions/setup@main
      with:
        optionals: "[build,test]"
        python-version: ${{ matrix.python-version }}
        app-id: ${{ vars.GH_APP_ID }}
        private-key: ${{ secrets.GH_APP_KEY }}
    
    # do linting
    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        # ruff --format=github --select=E9,F63,F7,F82 --target-version=py37 .
        ruff check ./src
    
    # run the tests
    - name: Test with pytest
      run: |
        pytest src --junit-xml=test-results.xml -m unit

    - name: Surface failing tests
      if: always()
      uses: pmeier/pytest-results-action@main
      with:
        path: test-results.xml
        summary: true
        display-options: fEX
        fail-on-empty: true
